@media (max-width:850px) {
    .container {
        flex-direction: column;        
        padding: 5px 0 20px;
        margin: auto 0;
    }

    .container .sobre-mathbook {
        width: auto;    
        text-align: center;    
    }

    .container .login .container-login button {
        width: 100%;
    }
}

@media (max-width:470px) {
    .container .sobre-mathbook,
    .container .login .container-login {
        width: 350px;
    }
}

@media (max-width: 400px) {    
    .container .sobre-mathbook,
    .container .login .container-login {
        width: 290px;
    }
}